@page "/SetupRoles"
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Configuration
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject IConfiguration config

<h3>SetUpRoles</h3>

<p>This page has now setup the roles and marked the appropriate user as administrator.</p>

@code {
    protected override async Task OnParametersSetAsync()
    {
        await SetupAuth();
    }

    private async Task SetupAuth()
    {
        const string administrator = "Administrator";
        string[] roles = { administrator };

        foreach (var role in roles)
        {
            var roleExist = await roleManager.RoleExistsAsync(role);

            if (roleExist == false)
            {
                await roleManager.CreateAsync(new IdentityRole(role));
            }
        }

        var user = await userManager.FindByEmailAsync(config.GetValue<string>("AdminUser"));

        if (user != null)
        {
            await userManager.AddToRoleAsync(user, administrator);
        }
    }
}
